name: Release

on:
  workflow_dispatch:
    inputs:
      version:
        description: "Version number in the format `v1.2.3`"
        required: true
        type: string

concurrency:
  group: ${{ github.workflow }}-${{ github.ref || github.run_id }}
  cancel-in-progress: true

defaults:
  run:
    shell: nu {0}

env:
  godot_version: 4.6.1
  app_binary_name: diaboa4

jobs:
  build:
    strategy:
      matrix:
        include:
          - platform: linux
          - platform: windows

    runs-on: ubuntu-latest
    permissions:
      contents: write

    steps:
      - uses: hustcer/setup-nu@v3
        with:
          version: "*"
          enable-plugins: true

      - name: Set up environment
        run: |
          let app = $"./compiled/${{ matrix.platform }}/($env.app_binary_name)"
          let package = $"($env.app_binary_name)-${{ matrix.platform }}.zip"

          if ("${{ inputs.version }}" !~ '^v\d+\.\d+\.\d+$') {
            error make {msg: "Version must match vX.Y.Z"}
          }

          $"app=($app)
          package=($package)" | save -a $env.GITHUB_ENV

      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup Godot Project Version
        run: sed -i "s|config/version=\"[^\"]*\"|config/version=\"${{ inputs.version }}\"|" ./source/project.godot

      - name: Setup Godot
        uses: chickensoft-games/setup-godot@v2
        with:
          version: ${{ env.godot_version }}
          use-dotnet: false
          include-templates: true

      - name: Prepare output directories
        run: mkdir $env.app

      - name: Build Project
        run: godot ./source/project.godot --import --headless --export-release ${{ matrix.platform }} ${{ env.app }}/${{ env.package }}

      - name: Upload package to workflow artifacts
        uses: actions/upload-artifact@v4
        with:
          path: ${{ env.app }}/${{ env.package }}
          name: package-${{ matrix.platform }}
          retention-days: 1

      - name: Upload package to GitHub release
        uses: svenstaro/upload-release-action@v2
        with:
          repo_token: ${{ secrets.GITHUB_TOKEN }}
          file: ${{ env.app }}/${{ env.package }}
          asset_name: ${{ env.package }}
          release_name: ${{ inputs.version }}
          tag: ${{ inputs.version }}
          overwrite: true
